@import '../node_modules/primeflex/primeflex.css';
@import '../node_modules/primeflex/primeflex.min.css';
// @import '../node_modules/primeflex/primeflex.scss';

// VARIAVEIS
$color-dark-primary: #292828;
$color-dark-secondary: #333131;
$color-font-dark: #fff;
$color-light-primary: #292828;
$color-light-secondary: #333131;
$color-light-dark: #fff;
$color-primary: #c18f41;
$color-secondary: #659665;
$color-tertiary: #de4e3b;
$color-quaternary: #c18f41;

* {
  -webkit-box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0.5rem;
}

.App {
  background-color: $color-dark-primary;
  color: $color-font-dark;
  min-height: 100vh;
}

.header {
  padding: 2rem;
  background-color: $color-dark-secondary;
  margin-bottom: 1rem;
}

.p-card {
  background-color: $color-dark-secondary;
  border-radius: 0.5rem;
  padding: 1rem;
}
